{% include 'backend/partials/header.html' %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2>Devices
                <form method="post"
                      action='{{ siteUrl }}/wp-admin/admin.php?page=Weilandt&pl_weilandt[controller]=device&pl_weilandt[action]=new'
                      id="form_2">
                    <button class="btn btn-success" type="submit">Neues Gerät</button>
                </form>
                </h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>edit</th>
                            <th>delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for device in devices %}
                        <tr>
                            <td>
                                {{ device.Name }}
                                {{ device.FormId }}
                            </td>
                            <td>
                                <form id="editForm">
                                    <a class="btn btn-info"
                                       href="{{ siteUrl }}/wp-admin/admin.php?page=Weilandt&pl_weilandt[controller]=device&pl_weilandt[action]=edit&pl_weilandt_form[device][id]={{device.id}}"
                                       type="submit">edit</a>
                                </form>
                            </td>
                            <td>
                                <form id="deleteForm">
                                    <a class="btn btn-danger"
                                       href="{{ siteUrl }}/wp-admin/admin.php?page=Weilandt&pl_weilandt[controller]=device&pl_weilandt[action]=delete&pl_weilandt_form[device][id]={{device.id}}"
                                       type="submit">deleted</a>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Assignment</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Firma</th>
                            <th>Mail</th>
                            <th>Show</th>
                            <th>edit</th>
                            <th>delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mail in mails %}
                        <tr>
                            <td>
                                {{ mail.contact_person }}
                            </td>
                            <td>
                                {{ mail.company }}
                            </td>
                            <td>
                                <a href="mailto:{{mail.mail}}">{{ mail.mail }}</a>
                            </td>
                            <td>
                                <form id="showMailForm">
                                    <a class="btn btn-info"
                                       href="{{ siteUrl }}/wp-admin/admin.php?page=Weilandt&pl_weilandt[controller]=user&pl_weilandt[action]=show&pl_weilandt_form[user][id]={{mail.id}}"
                                       type="submit">show</a>
                                </form>
                            </td>
                            <td>
                                <form id="editMailForm">
                                    <a class="btn btn-info"
                                       href="{{ siteUrl }}/wp-admin/admin.php?page=Weilandt&pl_weilandt[controller]=user&pl_weilandt[action]=edit&pl_weilandt_form[user][id]={{mail.id}}"
                                       type="submit">edit</a>
                                </form>
                            </td>
                            <td>
                                <form id="deleteMailForm">
                                    <a class="btn btn-danger"
                                       href="{{ siteUrl }}/wp-admin/admin.php?page=Weilandt&pl_weilandt[controller]=user&pl_weilandt[action]=delete&pl_weilandt_form[user][id]={{mail.id}}"
                                       type="submit">deleted</a>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2>Benutzer
                <form method="post"
                      action='{{ siteUrl }}/wp-admin/admin.php?page=Weilandt&pl_weilandt[controller]=device&pl_weilandt_form[device][action]=new'
                      id="Assignment">
                    <button class="btn btn-success" type="submit">add new</button>
                </form>
                </h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Firma</th>
                            <th>Mail</th>
                            <th>Show</th>
                            <th>edit</th>
                            <th>delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mail in mails %}
                        <tr>
                            <td>
                                {{ mail.contact_person }}
                            </td>
                            <td>
                                {{ mail.company }}
                            </td>
                            <td>
                                <a href="mailto:{{mail.mail}}">{{ mail.mail }}</a>
                            </td>
                            <td>
                                <form id="showMailForm">
                                    <a class="btn btn-info"
                                       href="{{ siteUrl }}/wp-admin/admin.php?page=Weilandt&pl_weilandt[controller]=user&pl_weilandt[action]=show&pl_weilandt_form[user][id]={{mail.id}}"
                                       type="submit">show</a>
                                </form>
                            </td>
                            <td>
                                <form id="editMailForm">
                                    <a class="btn btn-info"
                                       href="{{ siteUrl }}/wp-admin/admin.php?page=Weilandt&pl_weilandt[controller]=user&pl_weilandt[action]=edit&pl_weilandt_form[user][id]={{mail.id}}"
                                       type="submit">edit</a>
                                </form>
                            </td>
                            <td>
                                <form id="deleteMailForm">
                                    <a class="btn btn-danger"
                                       href="{{ siteUrl }}/wp-admin/admin.php?page=Weilandt&pl_weilandt[controller]=user&pl_weilandt[action]=delete&pl_weilandt_form[user][id]={{mail.id}}"
                                       type="submit">deleted</a>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            {% for key,form in forms %}
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-{{form.color}}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks  fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                </div>
                                <div>
                                    {% set count = "" %}
                                    {% for device in devices if device.formId == form.id %}
                                    {% set count = loop.index %}
                                    {% endfor %}

                                    {% if count == 0 %}
                                    Aktuell keine Gerät/e für {{form.name}}
                                    {% else %}
                                    {{count}} Gerät/e für {{form.name}}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input disabled="disabled" id="form-{{key}}" class="form-control"
                               value=" [weilandt_frontend {{form.class}}=new]"/>
                         <span class="input-group-btn">
                    <button class="btn btn-secondary form-btn" data-clipboard-target="#form-{{key}}" type="button"
                            data-toggle="tooltip" title="Kopieren! Und in eine beliebige Seite einfügen."><i
                            class="fa fa-clipboard"></i></button>
                    </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'backend/partials/footer.html' %}